.metadata
pubspec.lock
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
.tooling/
build/
android/build/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
flutter_*.png
generated_plugin_registrant.dart
android/.gradle/
android/app/build/
android/app/.cxx/
android/local.properties
android/.project
android/.classpath
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/build/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
.vscode/
*~
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.dll
lcov.info
!android/app/src/main/kotlin/**/*.kt
!android/app/src/main/res/
ios/
macos/
windows/
linux/
web/
*.iml
c3_unlocked.iml
android/*.iml
